[submodule "arduino_cmake"]
	path = arduino_cmake
	url = https://github.com/mitikkak/arduino_cmake.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "SdFat"]
	path = SdFat
	url = https://github.com/greiman/SdFat.git
[submodule "PinChangeInt"]
	path = PinChangeInt
	url = https://github.com/GreyGnome/PinChangeInt
[submodule "LiquidCrystal_I2C"]
	path = LiquidCrystal_I2C
	url = https://github.com/marcoschwartz/LiquidCrystal_I2C.git
[submodule "ESPAsyncWebServer"]
	path = ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "ESPAsyncTCP"]
	path = ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP.git
